[submodule "integration_system"]
	path = integration_system
	url = git@github.com:automaps/mi-sync.git
[submodule "svaguely"]
	path = svaguely
	url = git@github.com:automaps/svaguely.git
[submodule "caddy"]
	path = caddy
	url = git@git.rtx.mapspeople.com:MapsIndoors/automation/caddy.git
