-e file://${REQUIREMENTS_FILE_PARENT_DIRECTORY}/cms_edit/integration_client
-e file://${REQUIREMENTS_FILE_PARENT_DIRECTORY}/cms_edit/integration_system

apppath>=1.0.2
geopandas
jord>=0.4.1
numpy
pandas
pip
shapely >= 2.0.0
validators
warg>=1.0.2
