geopandas>=1.0.1
pyproj>=3.3.0
apppath>=1.0.7
authlib>=1.2.1
certifi>=14.05.14
ezdxf>=1.3.0
geojson>=3.1.0
jord[qt,shapely,geopandas]>=0.7.2
osmnx>=1.8.0
pydantic>=2.1.1
strenum>=0.4.5
pytest-xdist>=3.3.1
python_dateutil>=2.5.3
sentry-sdk>=2.0.1 # PRETTY BAD INTERFACE!
setuptools>=21.0.0
six>=1.10
typeguard>=4.1.5
urllib3>=2.1.0
validators>=0.22.0
warg>=1.4.0
importlib-metadata>=0.0.1 #MACOS is weird?
importlib-resources>=0.0.1 #MACOS is weird?
#pyperclip>=0.0.1

file://${SUBMODULE_DIRECTORY}/mi_sync
file://${SUBMODULE_DIRECTORY}/svaguely
file://${SUBMODULE_DIRECTORY}/caddy
