name: pr-package-plugin

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]
        os: [windows-latest]
        #os: [macos-latest, windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            platform: win_amd64
          #- os: macos-latest
          #  platform: macosx_10_9_x86_64
          #- os: ubuntu-latest
          #  platform: manylinux2014_x86_64

    if: github.repository_owner == 'MapsPeople'

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Set environment variables
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "QGIS_PATH=qgisplugins/dev/${{ matrix.platform }}/${{ matrix.python-version }}" >> $GITHUB_ENV
          echo "GCS_PATH=gs://qgisplugins/dev/${{ matrix.platform }}/${{ matrix.python-version }}" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          submodules: recursive
          ssh-key: ${{ secrets.CI_BOT_SSH_KEY }}
          #token: ${{ secrets.PAT_TOKEN }}

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip qgis-plugin-ci jord lxml

      - name: Fetch current changelog
        run: qgis-plugin-ci changelog ${{ env.RELEASE_VERSION }} >> release.md

      - name: Package QGIS Plugin
        run: |
          python bundle_packaging.py --python-version ${{ matrix.python-version }} --plugin-version ${{ env.RELEASE_VERSION }} --platform ${{ matrix.platform }} || exit 1
          qgis-plugin-ci package ${{ env.RELEASE_VERSION }} -a mi_companion_bundle.${{ env.RELEASE_VERSION }}/ -u https://qgis.mapsindoors.com/plugins/dev/${{ matrix.platform }}/${{ matrix.python-version }}/

      - id: "auth"
        name: auth
        uses: "google-github-actions/auth@v2"
        with:
          project_id: "deployment-composer-test"
          workload_identity_provider: "projects/476136238084/locations/global/workloadIdentityPools/github/providers/mi-companion"
          service_account: point-inside-migration@deployment-composer-test.iam.gserviceaccount.com

      - id: "upload-plugin-zip-to-bucket"
        name: upload-file-to-bucket
        uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          path: mi_companion.${{ env.RELEASE_VERSION }}.zip
          destination: ${{ env.QGIS_PATH }}


      - id: "setup-gcloud-cli"
        name: "setup-gcloud-cli"
        uses: "google-github-actions/setup-gcloud@v2"
        with:
          version: '>= 363.0.0'

      - id: "list-files-in-GCS-path"
        name: list-files-in-GCS-path
        run: gcloud storage ls ${{ env.GCS_PATH }} > gcs-plugins.txt

      - id: "download-file-from-gcs"
        name: download-file-from-gcs
        run: |
          mkdir -p downloaded
          gcloud storage cp ${{ env.GCS_PATH }}/plugins.xml downloaded/

      - id: "merge-plugin-xmls"
        name: merge-plugin-xmls
        run: |
          python plugin_xml_operations.py merge plugins.xml downloaded/plugins.xml plugins_merged.xml

      - id: "backup-previous-plugins-file-on-bucket"
        name: backup-previous-plugins-file-on-bucket
        run: |
          if gcloud storage ls ${{ env.GCS_PATH }}/plugins.xml | grep plugins.xml; then
            gcloud storage cp ${{ env.GCS_PATH }}/plugins.xml ${{ env.GCS_PATH }}/plugins_backup.xml
          else
            echo "No previous plugins.xml file found to backup."
          fi

      - id: "upload-merged-plugins-xml-to-bucket"
        name: upload-merged-plugins-xml-to-bucket
        uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          path: plugins_merged.xml
          destination: ${{ env.QGIS_PATH }}

      - id: "overwrite-plugins-xml-on-bucket"
        name: overwrite-plugins-xml-on-bucket
        run: |
          gcloud storage cp ${{ env.GCS_PATH }}/plugins_merged.xml ${{ env.GCS_PATH }}/plugins.xml
          echo "plugins.xml file has been overwritten with the merged version."
